
<div class="anon_overview">

<h2>General Information</h2>

<table>
<tbody>
<tr><th>My destination: </th><td>{{serverPort}}</td></tr>
</tbody>
</table>

<h2>Endpoints</h2>

<table class="anon_endpoints">
<thead><tr><th>Destinations</th></tr></thead>
<tbody>

{{#endpoints}}
<tr><td>{{remoteAddr}}</td></tr>
{{/endpoints}}

</tbody>
</table>

<h2>Bootstraps</h2>

{{#bootstraps}}
<div class="anon_bootstrap" data-bootstrap-id="{{id}}" data-bootstrap-type="{{type}}">
<h3 title="{{type}}">{{name}}-{{id}}</h3>

<table class="anon_bootstrap_entries">
<thead>
<tr><th>transport</th><th>Destinations</th></tr>
</thead>
<tbody>

{{#entries}}
<tr><td>{{transportId}}</td><td>{{addr}}</td></tr>
{{/entries}}

</tbody>
</table>

</div>
{{/bootstraps}}

<form id="anon_bootstrap_addform">
<select id="anon_bootstrap_type">
<option value="manual">Manual</option>
</select>
<input type="submit" value="Add bootstrap" />
</form>

</div>
